<suite name="Photon Workflow Test Suite" verbose="10">
<!-- 

You don't need to edit this file for writing tests
Please see the README.md in the project root folder for instructions

 -->

	<test name="Workflow Tests">
		<classes>
			<class name="com.the99tests.photon.tests.WorkflowTest" />
		</classes>
	</test>
</suite>